@media screen and (max-width:640px) {  
	body { background: url('img/background_640.jpg') no-repeat center center fixed; }
	#text { font-size:6em; }
}

@media screen and (min-width:641px) and (max-width:768px) {  
	body { background: url('img/background_768.jpg') no-repeat center center fixed; }
	#text { font-size:4em; }
}

@media screen and (min-width:769px) and (max-width:1024px) {  
	body { background: url('img/background_1024.jpg') no-repeat center center fixed; }
	#text { font-size:4em; }
}

@media screen and (min-width:1025px) and (max-width:1280px) {  
	body { background: url('img/background_1280.jpg') no-repeat center center fixed; }
	#text { font-size:4em; }
}

@media screen and (min-width:1281px) {  
	body { background: url('img/background.jpg') no-repeat center center fixed; }
	#text { font-size:4em; }
}

body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#text {
	color:#000;
	font-weight:bold;
	font-family:arial;
	text-shadow: -1px 0 #666, 0 2px #666, 2px 0 #666, 0 -1px #666;
	margin: 0px 10px;
}

#footer {
	position:absolute;
	bottom:5px;
	right:10px;
	color:#FFF;
	font-size:.5em;
	font-weight:normal;
	font-family:arial;
	margin: 0px 10px;
}

#footer a{
	color:#FFF;
}
#footer a:visited{
	color:#FFF;
}